// states messages

$text-info: #059;
$text-success: #270;
$text-waring: #9f6000;
$text-error: #d8000c;

// states backgrounds

$bg-info: #bef;
$bg-success: #dff2bf;
$bg-waring: #feefb3;
$bg-error: #ffbaba;
$bg-iddle: #99abd5;

$empathizeDark: #cfd8dc;
$empathizeLight: #90a4ae;
