@import "variables";

:host {
	display: flex;
	height: 100%;
	width: 100%;
}
.app-content {
	height: 100%;
	overflow: auto;
	> div {
		padding: 2.5rem 1rem 1rem;
		height: 100%;
	}
	scroll-behavior: smooth;
}

.mat-drawer {
	padding-right: 0;
	padding-top: 0;
	width: 10.5rem;
	div {
		overflow: hidden !important;
		height: 100%;
	}
}
.side-nav-menu {
	display: flex;
	flex-direction: column;
}

.drag-drop-zone {
	height: 100%;
	width: 100%;
}
.app-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.spacer {
	flex: 1;
}

mat-drawer-container {
	padding: 0 !important;
}
mat-drawer-content {
	overflow: hidden !important ;
}

.mat-drawer-container {
	width: 100% !important;
	height: 100%;
	// border: 1px solid rgba(0, 0, 0, 0.5);
	width: max-content;
}

.sidenav-content {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.sidenav {
	padding: 20px;
}
