.container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.success {
	// color: $text-success;
	background-color: green;
}
.warning {
	// color: $text-waring;
	background-color: orange;
}
.error {
	// color: $text-error;
	background-color: red;
}

p {
	font-size: 0.8rem;
}
